<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Jeux - Ludothèque</title>
    <link rel="stylesheet" data-th-href="@{/CSS/main.css}">
    <link rel="stylesheet" data-th-href="@{/CSS/gestionJeux.css}">
</head>
<body>
<header>
    <h1>Gestion des Jeux</h1>
    <nav>
        <ul>
            <li><a data-th-href="@{/}">Accueil</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux}">Nos Jeux</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux/ajoutJouet}">Ajouter un Jouet</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux/ajoutJeuSociete}">Ajouter un Jeu de Societe</a></li>
            <li><a data-th-if="${membreEnSession}==null" data-th-href="@{/connexion}">Connexion</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/deconnexion}">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<section id="manage-games">
    <h2>Ajouter un Membre</h2>
    <form method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>

        <label for="telephone">Telephone :</label>
        <input type="text" id="telephone" name="telephone" required>

        <button type="submit">Ajouter le Membre</button>
    </form>
</section>

<footer>
    <marquee data-th-if="${membreEnSession}!=null" data-th-text="${membreEnSession}"></marquee>
    <p>&copy; 2025 Ludothèque. Tous droits réservés.</p>
</footer>
</body>
</html>
