<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Jeux - Ludothèque</title>
    <link rel="stylesheet" data-th-href="@{/CSS/main.css}">
    <link rel="stylesheet" data-th-href="@{/CSS/gestionJeux.css}">
</head>
<body>
<header>
    <h1>Gestion des Jeux</h1>
    <nav>
        <ul>
            <li><a data-th-href="@{/}">Accueil</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux}">Nos Jeux</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux/ajoutJouet}">Ajouter un Jouet</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/jeux/ajoutJeuSociete}">Ajouter un Jeu de Societe</a></li>
            <li><a data-th-if="${membreEnSession}==null" data-th-href="@{/connexion}">Connexion</a></li>
            <li><a data-th-if="${membreEnSession}!=null" data-th-href="@{/deconnexion}">Deconnexion</a></li>
        </ul>
    </nav>
</header>

<section id="manage-games">

    <h2>Liste des Jeux</h2>
    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>État</th>
            <th>Âge</th>
            <th>Description</th>
            <th>Actions</th>
            <th>Difficulté</th>
            <th>Intéret</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-if="!${jeuSociete}.isEmpty()" data-th-each="jeu : ${jeuSociete}">
            <td data-th-text="${jeu.titre}"></td>
            <td data-th-text="${jeu.etat}"></td>
            <td data-th-text="${jeu.age}"></td>
            <td data-th-text="${jeu.description}"></td>
            <td data-th-text="${jeu.difficulte} + '/5'"></td>
            <td data-th-text="${jeu.interet} + '/5'"></td>
            <td>
                <a data-th-href="@{/edit-game/{id}(id=${jeu.id})}">Modifier</a>
                <a data-th-href="@{/delete-game/{id}(id=${jeu.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>État</th>
            <th>Âge</th>
            <th>Description</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-if="!${jeux}.isEmpty()" data-th-each="jeu : ${jeux}">
            <td data-th-text="${jeu.titre}"></td>
            <td data-th-text="${jeu.etat}"></td>
            <td data-th-text="${jeu.age}"></td>
            <td data-th-text="${jeu.description}"></td>
            <td data-th-text="${jeu.typeJouet}"></td>
            <td>
                <a data-th-href="@{/edit-game/{id}(id=${jeu.id})}">Modifier</a>
                <a data-th-href="@{/delete-game/{id}(id=${jeu.id})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<footer>
    <marquee data-th-if="${membreEnSession}!=null" data-th-text="${membreEnSession}"></marquee>
    <p>&copy; 2025 Ludothèque. Tous droits réservés.</p>
</footer>
</body>
</html>
